<div
    class="sign-in-area"
    [class.dark-theme]="themeService.isDark()"
>
    <div
        class="trezo-form mx-auto"
        [class.component-dark-theme]="themeService.isDark()"
        [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    >
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                <div class="form-image">
                    <img src="images/sign-in.jpg" alt="sign-in-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order-1 order-lg-2">
                <div class="form-content">
                    <div class="logo">
                        <img src="images/logo-big.svg" alt="logo" class="img-fluid w-50">
                        <img src="images/white-logo-big.svg" class="d-none img-fluid w-50" alt="logo">
                    </div>
                    <div class="title">
                        <h1 class="fw-semibold">
                            ยินดีต้อนรับสู่ DropStock!
                        </h1>
                        <p class="fw-medium">
                            ลงชื่อเข้าใช้บัญชีของคุณ
                        </p>
                    </div>
                    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label class="main-label d-block fw-medium text-black">
                                Username
                            </label>
                            <input type="text" class="form-control" formControlName="username" placeholder="Enter your username">
                        </div>
                        <div class="form-group position-relative">
                            <label class="main-label d-block fw-medium text-black">
                                Password
                            </label>
                            <input [type]="isPasswordVisible ? 'text' : 'password'" 
                                   formControlName="password" 
                                   class="form-control" 
                                   placeholder="Enter your password">
                            <button type="button" (click)="togglePasswordVisibility()" class="icon-button p-0 border-0 bg-transparent transition">
                                <i [ngClass]="isPasswordVisible ? 'ri-eye-line' : 'ri-eye-off-line'"></i>
                            </button>
                        </div>
                        <div *ngIf="passwordErrors.length > 0" class="text-danger mt-2">
                            <ul>
                                <li *ngFor="let error of passwordErrors">{{ error }}</li>
                            </ul>
                        </div>
                        <div class="forgot-password mt-2 mb-3">
                            <a routerLink="/authentication/forgot-password" class="text-primary fw-semibold">
                                Forgot Password?
                            </a>
                        </div>
                        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                            {{ errorMessage }}
                        </div>
                        <button type="submit" class="btn-box d-block w-100 border-0 transition fw-medium border-radius" [disabled]="isLoading">
                            <span class="d-flex align-items-center justify-content-center">
                                <i class="material-symbols-outlined" *ngIf="!isLoading">
                                    login
                                </i>
                                <span *ngIf="!isLoading">Sign In</span>
                                <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span *ngIf="isLoading" class="ms-2">Loading...</span>
                            </span>
                        </button>
                        <p class="info mt-3 text-center">
                            Don't have an account? <a routerLink="/authentication/sign-up" class="fw-semibold text-primary">Sign Up</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>